{% extends "Base.njk" %} {%block pageTitle%}401
Unauthorized{%endblock%} {%block content%}
<p style="text-align: center">
  You are not authorized to access the requested page. To gain access, please
  login or sign up with an account.
</p>
{%endblock%}
