*{
    margin:0;
    padding:0;
    font-family:sans-serif;
    box-sizing:border-box;
    margin-inline: 0;
    padding-inline:0;
    margin-block:0;
    padding-block:0;
}

:root{
    --navbar-background-color:black;
    --navbar-color:white;
    --navbar-hover-or-focus-color:lightblue;
}


body.light-theme{
    color:black;
    background-color:white;
}

body.dark-theme{
    color:white;
    background-color:rgb(64,64,64);

    & a:not(nav a) {
        color:white;
    }
    
}

nav{
    background-color:var(--navbar-background-color);
    width:100%;

    & a{
        text-decoration:none;
        color:var(--navbar-color);
    }
    
    & .navbar-header{
        padding-left:2rem;
        font-size:larger;
        height:3rem;
        padding-right:2rem;
        display:grid;
        grid-template-columns:auto min-content;
        align-items:center;

        /**
        Style the hamburger button
        */
        & button{
            color:white;
            background-color:transparent;
            font-size:inherit;
            border:none;
        }
    }

    & a:hover, & a:focus, & button:focus{
        color:var(--navbar-hover-or-focus-color);
        outline:none;
    }

    & a.theme:focus{
        font-size:larger;
    }


    & ul{
        transition:height 0.5s ease, margin-left 0.5s ease;
        display:grid;
        grid-auto-flow:row;
        margin-left:2rem;
        height:0;
        & li::marker{
            content:'';
        }

        & li{
            padding-top:1rem;
            padding-bottom:1rem;
        }

        & li:last-of-type{
            padding-bottom:2rem;
        }

    }

    & ul.hide-contents{
        margin-left:-100%;
    }
}

nav.desktop-style{
    & .navbar-header{
        display:inline-grid;
        /*
        Hide the hamburger icon.
        */
        & button{
            display:none;
        }
    }

    & ul{
        display:inline-grid;
        gap:2rem;
        align-items:center;
        grid-auto-flow: column;
        height:auto !important;
    }

    & li:last-of-type{
        padding-bottom:1rem;
    }
}

.page-title{
    margin-top:2rem;
    margin-bottom:2rem;
    text-align:center;
}

form{
    width:70%;
    max-width:500px;
    margin-left:auto;
    margin-right:auto;

    & input{
        width:100%;
        padding:0.5rem;
    }

    & button{
        margin-top:1rem;
    }

    & .error-message{
        margin-top:1rem;
        color:darkred;
    }

    & .succesful-message{
        margin-top:1rem;
        color:darkgreen;
    }

    button{
        padding:0.25rem;
    }
}

body.dark-theme{
    & form{
        & .error-message{
            color:pink;
        }
        & .succesful-message{
            color:darkseagreen;
        }
    }
}

/*Code for HTMX spinner begins*/
#spinner{
    opacity:0;
    transition:opacity 500ms ease-in;
    position:absolute;
    width:50vmin;
    height:50vmin;
    border-top:1rem solid lightskyblue;
    border-left:1rem solid grey;
    border-right:1rem solid grey;
    border-bottom:1rem solid grey;
    border-radius:50%;
    top:50%;
    left:50%;
    pointer-events:none;
    transform:translate(-50%, -50%);
    animation:spin 2s linear infinite;
}

@keyframes spin{
    0% { 
        transform: translate(-50%,-50%)  rotate(0deg);
     }
    100% {
         transform:translate(-50%,-50%) rotate(360deg);
     }
}


.htmx-request #spinner{
    opacity:1;
}

.htmx-request#spinner{
    opacity:1;
}

/*Code for HTMX spinner ends*/
.screen-readers-only{
    position: absolute !important; /* Outside the DOM flow */
    height: 1px; width: 1px; /* Nearly collapsed */
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE 7+ only support clip without commas */
    clip: rect(1px, 1px, 1px, 1px); /* All other browsers */
}