{{template "base" .}}

{{define "title"}}
    Todo
{{end}}

{{define "stylesheet" }}

<link href="../static/css/Todo.css" rel="stylesheet">
{{end}}
{{define "content"}}

    <div style="width:80%;max-width:600px;margin-left:auto;margin-right:auto;" >
        <h1 class="page-title">Todo</h1>
        <ul class="todo-container">
            <!-- The AdditionalData are the todos. -->
            {{range  .AdditionalData}}
                <li>{{.Todo}}</li>
            {{end}}
        </ul>
        <button style="margin-top:1rem;padding:0.25rem;" onclick="document.querySelector('#dialog').showModal()">Add todo</button>
    </div>

    <dialog  id="dialog">
        <form>
            <div>
                <label for="Todo">Todo</label>
                <input id="Todo" name="Todo"/>
            </div>

            <div>
                <button hx-indicator="#addTodoMessage" hx-target=".todo-container" hx-swap="beforeend" type="button" hx-post="/addTodo" hx-include="[name='Todo']" hx-on::after-request="
                document.querySelector('#dialog form').reset();document.querySelector('#dialog').close();">Add todo</button>
                <button type="button" style="margin-left:1rem;" onclick="document.querySelector('#dialog').close()">Cancel</button>
            </div>

            <div id="addTodoMessage">
                Adding todo
            </div>
        </form>
    </dialog>
{{end}}
