{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your website description">
    <title>{{block "title" .}} {{end}}</title>
    <link rel="stylesheet" href="/static/css/base.css?css">
    <script  defer src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>

<body onload="window.setTimeout(()=>loadSavedTheme(),500) /*The timeout should be based on the timeout of the transition defined in /static/css/base.css.*/; collapseNavbar();updateNavbarStyleBasedOnScreenWidth();" hx-on::after-settle="if (window.screen.availWidth<maximum_width_for_navbar_to_be_displayed_in_mobile_mode) collapseNavbar();">
    <script defer src="/static/js/base.js?js"></script>
    <header>
        <nav id="navbar" hx-boost="true" hx-preserve>
            <div class="navbar-header" >
                <a href="/" class="brand" >Brand</a>
                <button  onclick="toggleNavbar()"  aria-controls="navbar-contents" aria-label="navigation toggler"></button>
            </div>

            <ul id="navbar-contents">
                    <!-- An example of how to display links conditionally for a navbar, depending on whether the user is logged in or not. -->                    
                    {{if $.IsLoggedIn}}
                        <li>
                            <a href="/authorized">Authorized</a>
                        </li>
                        <li>
                            <a hx-post="/logout" href="javascript:;">Logout</a>
                        </li>
                    {{else}}
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/SignUp">Sign Up</a>
                        </li>
                        <li>
                            <a href="/login">Login</a>
                        </li>
                        <li>
                            <a href="/deleteAccount">Delete Account</a>
                        </li>
                    {{end}}
                    <li>
                        <a  aria-label="Screen reader users, please ignore this." href="javascript:;" onclick="toggleTheme(this)" class="theme">☀</a>
                    </li>
            </ul>
        </nav>
    </header>
    <main>
        {{block "content" .}} {{end}}
    </main>
</body>
</html>
{{end}}