{{template "base" .}}

{{define "title"}}
    Login
{{end}}

{{define  "content"}}

<h1 class="page-title">Login</h1>

<form>
    <div>Login with your passkey</div>
    <button type="button" onclick="login()">Login</button>
    <div style="margin-top:1rem;">No account yet? <a hx-get="/SignUp" hx-replace-url="true" hx-target="body" href="javascript:;">Sign up</a></div>
    <div class="error-message" aria-atomic="true" aria-live="polite" >

    </div>
</form>

<script type="module" src="../static/js/Authentication/Login.js?authenticate">
</script>
{{end}}