{{template "base" .}}

{{define "title"}}
    Sign Up
{{end}}

{{define  "content"}}

<script defer src="/static/js/Authentication.js?cache-busted"></script>

<h1 class="page-title">Sign Up</h1>

<form>
    <label for="username">Username</label>
    <input id="username" name="username" autocomplete="username webauthn"/>
    <button type="button" onclick="const username=document.querySelector('#username').value;signUp(username);
    ">Sign Up</button>
    <div class="error-message">

    </div>
    <div class="succesful-message">
        
    </div>
</form>
{{end}}