{{template "base" .}}

{{define "title"}}
    Sign Up
{{end}}

{{define  "content"}}


<h1 class="page-title">Sign Up</h1>

<form>
    <label for="username">Username</label>
    <input id="username" name="username" autocomplete="username webauthn"/>
    <button type="button" onclick="const username=document.querySelector('#username').value;signUp(username);
    ">Sign Up</button>
     <div style="margin-top:1rem;">Already have an account? <a hx-get="/login" hx-replace-url="true" hx-target="body" href="javascript:;">Login</a></div>
    <div class="error-message" aria-live="polite" aria-atomic="true">

    </div>
    <div class="succesful-message" aria-live="polite" aria-atomic="true">
        
    </div>
</form>

<script type="module" src="../static/js/Authentication/SignUp.js?signUp">
</script>
{{end}}